$primary-color: #2d037f;
$primary-dark-color: #290275;
$primary-light-color: #AE98FF;
$white-color: #fff;
$black-color: #000;
$yellow-color: #FFC100;
$green-neon-color: #00FE82;
$green-neon-dark-color: #00b65e;
$btn-modal-close-hover-color: #12033a;
$slider-toggle-color: #2196F3;
$slider-toggle-background-color: #4E1EFF;
$pinky-color: #F82C70;
$pinky-hover-color: #c21e55;
$red-light-color: #ff0000;
$type-opion-border-color: #230865;
